{% load static %}

<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}{% endblock %}</title>
        <link href="{% static 'css/project.css' %}" rel="stylesheet"/>
        {% block head %}
        {% endblock %}
    </head>
    <body>
        {% include "header.html" %}

        {% block main %}
            {% block heading %}{% endblock %}
        {% endblock %}

        {% include "footer.html" %}

        <script src="{% static 'js/project.js' %}"></script>
        {% block foot %}
        {% endblock %}
    </body>
</html>
