{% extends "base.html" %}
{% load static %}

{% block title %}Polls App{% endblock %}

{% block head %}
<link href="{% static 'polls/css/polls.css' %}" rel="stylesheet" />
{% endblock %}

{% block main %}
<div class="app-image">
    <img alt="" src="{% static 'polls/img/polls.png' %}" />
</div>
{% endblock %}

{% block foot %}
<script src="{% static 'polls/js/polls.js' %}"></script>
{% endblock %}
