{% extends "polls/base.html" %}

{% block title %}{{ question.question_text }} - {{ block.super}}{% endblock %}

{% block main %}
{{ block.super }}
<h1>{{ question.question_text }}</h1>

{% if error_message %}
<p>
    <strong>{{ error_message }}</strong>
</p>
{% endif %}

<form action="{% url 'polls:vote' question.id %}"
      method="post">
    {% csrf_token %}
    {% for choice in question.choice_set.all %}
    <input name="choice"
           id="choice-{{ forloop.counter }}"
           type="radio"
           value="{{ choice.id }}" />
    <label for="choice-{{ forloop.counter }}">{{ choice.choice_text }}</label>
    <br />
    {% endfor %}
    <input type="submit" value="Vote" />
</form>

<a href="{% url 'polls:results' question.id %}">See results</a>
{% endblock %}
