{% extends "polls/base.html" %}

{% block title %}Home - {{ block.super }}{% endblock %}

{% block main %}
{{ block.super }}
<h1>Questions</h1>

{% if questions %}
<ul>
    {% for question in questions %}
    <li>
        <a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a>
    </li>
    {% endfor %}
</ul>
{% else %}
<p>No polls are available.</p>
{% endif %}
{% endblock %}
